fogadoiroda-web/src/main/resources/xsd/fogadoiroda.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://xml.fogadoiroda.oop.gdf.hu/" version="1.0"
           xmlns:tns="http://xml.fogadoiroda.oop.gdf.hu/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="echo" type="tns:echo"/>
    <xs:element name="echoResponse" type="tns:echoResponse"/>

    <xs:complexType name="echo">
        <xs:sequence>
            <xs:element minOccurs="0" name="string" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="echoResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>